footer {
  width: 100vw;

  min-height: calc(280vh - 60px);
  overflow: hidden;

  @media screen and (min-width: 992px) {
    min-height: calc(100vh - 60px);
  }

  @media screen and (min-width: 2400px) {
    min-height: calc(100vh - 120px);
  }

  .icons {
    display: flex;
  }

  .footerButton {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    background-color: transparent;
    border: none;

    transition: background-color 250ms;
    will-change: background-color;

    padding: 2%;
    margin-right: 2%;

    @media screen and (min-width: 2400px) {
      img {
        width: 3rem;
      }
    }

    @media screen and (min-width: 3200px) {
      img {
        width: 5rem;
      }
    }

    span {
      margin-top: 20%;
      font-size: 1.05rem;
      text-align: left;

      @media screen and (min-width: 2400px) {
        font-size: 2rem;
      }

      @media screen and (min-width: 3200px) {
        font-size: 3rem;
      }
    }
  }

  .footerButton:hover {
    background-color: #77777731;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 1rem;

    .footerButton {
      width: 30%;
    }
  }

  #collections {
    padding-top: 10%;
    padding-bottom: 10%;
    .footerButton {
      margin-top: 1rem;
      width: 30%;

      img {
        width: 25%;
      }

      span {
        font-size: 1.2rem;

        @media screen and (min-width: 2400px) {
          font-size: 2rem;
        }
        @media screen and (min-width: 3200px) {
          font-size: 3rem;
        }
      }
    }
  }

  #BeFirst {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  form {
    display: flex;

    input {
      width: 55%;
      padding: 0.6rem;
      background-color: transparent;
      border: solid 0.1rem #c7c7c7;

      @media screen and (min-width: 2400px) {
        font-size : 1.5rem;
        padding : 1.6rem;
      }

       @media screen and (min-width: 3200px) {
        font-size : 2rem;
        padding : 2.4rem;
      }
    }

    input::placeholder {
      color: #c7c7c7;
    }

    button {
      width: 35%;
      padding: 0.6rem;
      background-color: transparent;
      border: solid 0.1rem #c7c7c7;
      border-left: none;

      @media screen and (min-width: 2400px) {
        font-size : 1.75rem;
        padding : 1.6rem;
      }

        @media screen and (min-width: 3200px) {
        font-size : 2.5rem;
        padding : 2.4rem;
      }
    }
  }

  .col-lg-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 55vh;

    padding: 5%;

    padding-top: 20%;
    padding-bottom: 20%;

    @media screen and (min-width: 992px) {
      min-height: 50%;
      padding-top: 5%;
      padding-bottom: 5%;
    }

    h2 {
      font-family: "Times New Roman", Times, serif;
      height: auto;

      @media screen and (min-width: 2400px) {
        font-size: 2.6rem;
      }

      @media screen and (min-width: 3200px) {
        font-size: 3.6rem;
      }
    }

    p {
      max-width: 100%;
      font-size: 1.2rem;

      @media screen and (min-width: 992px) {
        max-width: 80%;
        font-size: 1.6rem;
      }

      @media screen and (min-width: 2400px) {
        max-width: 80%;
        font-size: 2.2rem;
      }

      @media screen and (min-width: 3200px) {
        max-width: 80%;
        font-size: 2.9rem;
      }
    }
  }
}
