.cart_modal {
    position : fixed;
    z-index : 1100;
    width : 100vw;
    height : 100vh;
    overflow : hidden;

    background-color: #33333391;

    transition : opacity 250ms, transform 250ms;
    will-change: opacity, transform;

    .modal_content {
        width : 55vh;
        height : 30vh;
        background-color: whitesmoke;

        .modal_bar {
            width : 55vh;
            height : 10vh;
            display : flex;
            justify-content: space-between;
            align-items: center;

            p {
                padding : 1rem;
                font-size : 1.6rem;
            }

            button {
                height : 5vh;
                width : 5vh;
                border : none;
                cursor: pointer;
                background-color: transparent;
            }
        }

        .modal_text {
            width : 55vh;
            height : 20vh;
            display : flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.hidden {
    opacity : 0;
    transform : scale(0);
}

.shown {
    opacity : 1;
    transform : scale(1);
}