.dropDownSection {
  width: 50%;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  background-color: white;
  margin-top: 60px;

  transition: transform 300ms;
  will-change: transform;

  transform: translateX(-100%);

  .a {
    margin-top: 1rem;
    margin-left: 1.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
  }
}

.showDropDown {
  transform: translateX(0%);
}

nav {
  .hamburgerMenu {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;

    overflow: hidden;

    cursor: pointer;
    transition: background-color 150ms;
    will-change: background-color;

    .wrap {
      width: 100%;
      height: 100%;
      transition: transform 600ms;
      will-change: transform;
    }

    .stripe {
      width: 25px;
      height: 2px;
      background-color: black;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      transition: transform 250ms, background-color 250ms;
      will-change: transform, background-color;
    }
  }

  .crossed {
    .wrap {
      transform: rotate(90deg);
    }

    .stripe {
      background-color: #33333300;
    }
    #firstStripe,
    #lastStripe {
      background-color: black;
    }

    #firstStripe {
      transform: translateY(8px) rotate(45deg);
    }
    #lastStripe {
      transform: translateY(-9px) rotate(-45deg);
    }
  }

  .hamburgerMenu:hover {
    background-color: #99999962;
  }

  .logo {
    width: 60px;
    min-height: 60px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 1.6rem;

    @media screen and (min-width: 2400px) {
      width: 120px;
      min-height: 120px;
      font-size: 3rem;
    }

    @media screen and (max-width: 992px) {
      width: calc(100vw - 120px);
      text-align: center;
    }
  }

  .navigation {
    width: calc(100vw - 60px);

    @media screen and (max-width: 992px) {
      width: 60px;
    }

    @media screen and (min-width: 2400px) {
      width: calc(100vw - 120px);
    }
  }

  .navigation > button {
    width: 60px;
    min-height: 60px;
    border: none;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    @media screen and (min-width: 2400px) {
      width: 120px;
      height: 120px;

      img {
        width: 30%;
        height: 30%;
      }
    }
  }

  .navigation > * {
    cursor: pointer;
    transition: 250ms background-color;
    will-change: background-color;
  }

  .navigation > *:hover {
    background-color: #99999962;
  }

  .navigation > .a {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-decoration: none;
    color: black;

    @media screen and (min-width: 2400px) {
      padding-left: 2rem;
      padding-right: 2rem;
      height: 120px;
      font-size: 1.6rem;
    }
  }

  @media screen and (max-width: 992px) {
    .container-fluid {
      display: none;
    }
  }
}
